services:
  api:
    container_name: village-connecte-api
    build: .
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - mongodb
    restart: unless-stopped

  mongodb:
    container_name: village-connecte-mongo
    image: mongo:latest
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: 7oM=JCuiG=
      MONGO_INITDB_DATABASE: village_connecte
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:
